<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>Soduku</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Welcome to Soduku Generator</h1>

    <label for="difficulty">选择难度等级：</label>
    <select id="difficulty">
      <option value="0">入门</option>
      <option value="1">初级</option>
      <option value="2">熟练</option>
      <option value="3">精通</option>
      <option value="4">大神</option>
    </select>

    <button onclick="generate()">开始</button>


    <div id="table-container">
      
    </div>

    <script src="script.js"></script>
  </body>
</html>
